@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rec5f4');
  src:  url('fonts/icomoon.eot?rec5f4#iefix') format('embedded-opentype'),
url('fonts/icomoon.ttf?rec5f4') format('truetype'),
url('fonts/icomoon.woff?rec5f4') format('woff'),
url('fonts/icomoon.svg?rec5f4#icomoon') format('svg');
}



